:root {
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #161717;
  background-color: #e5e9e8;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

:global(a),
:global(button),
:global(input),
:global(p),
:global(span) {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  color: inherit;
  background-color: inherit;
}

:global(body) {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  pointer-events: none;
  opacity: 0.4;
  -webkit-filer: blur(3px);
  filter: blur(3px);
  box-shadow: none;
  user-select: none;
  -webkit-user-select: none;
}

.primary-btn {
  background: rgb(103, 151, 134, 1);
  color: #e5e9e8;
  width: 189px;
  height: 59px;
  border-radius: 6px;
  border: none;
  box-shadow: 0 0 6px rgba(22, 23, 23, 0.2);
  cursor: pointer;
  font-family: inherit;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

a.primary-btn {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.primary-btn:active {
  background: rgb(103, 151, 134, 0.8);
  color: #e5e9e8;
  font-weight: 700;
  box-shadow: none;
}

@media prefers-dark-mode {
  :global(body) {
    background-color: #e5e9e8;
    color: #161717;
  }
}
